/* БАЗОВЫЕ СТИЛИ */
body {
  font-family: "Alumni Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 57;
  font-style: normal;
  margin: 0;
  padding: 0;
  background: #fdfdfd;
  color: #06192c;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
 
h1, h2, h3 {
  text-decoration: none;
  color: #06192c;
  margin: 0;
}

p {
  text-decoration: none;
  color: #06192c;
  font-size: 1.1em;
  margin: 0;
}

a {
  color: #06192c;
  font-size: medium;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #06192c;
}

img {
  max-width: 100%;
  height: auto;
}

/* ШАПКА */
header {
  font-family: "Alumni Sans", sans-serif;
  background: #fdfdfd;
  color: #fdfdfd;
  margin: 0.5%;
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

header p, header h1 {
  color: #06192c;
}

header .left-elem {
  display: flex;
  width: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
header .logo-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}

.burger, .burger-checkbox, .menu, .menu-item, .menu-list {
  display: none;
}

header .logo {
  width: 25px;
  height: auto;
  padding-top: 0;
  align-self: center;
  padding-right: 10px;
}

header .name {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}

header .name h1 {
  font-size: 250%;
  font-weight: normal;
  margin-bottom: 0;
}

header .name p {
  font-size: 130%;
  margin-top: -5%;
  padding-left: 58px;
}

header .right-elem {
  display: flex;
  width: 50%;
  gap: 10%;
  justify-content: end;
  padding-right: 3%;
  align-items: center;
}

header .right-elem a {
  font-size: 100%;
  border: solid;
  border-radius: 7%;
  padding: 0.5%;
  padding-left: 3%;
  padding-right: 3%;
}

header .right-elem a:hover {
  text-decoration: none;
  font-weight: bolder;
  background-color: #fdfdfd;
}
.bird-image-container{
      margin: 10px;
      position: relative;
      overflow: hidden;
      width: 80%;
      height: auto;
      background: #fdfdfd;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4em;
}
.bird-image-container img{
      position: absolute;
      width: 90%;
      height: auto;
      margin: auto;
}
    .gallery-item {
      background: #fdfdfd;
      border-radius: 8px;
      width: auto;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4em;
      overflow: hidden;
    }
    .gallery-item img{
      width: 200%;
      height: auto;
    }
/* ПОДВАЛ */
footer {
  background: #465c75;
  color: #fdfdfd;
  padding: 30px;
  text-align: center;
  margin: 1%;
  border-radius: 10px;
}

footer h2 {
  color: #fdfdfd;
  margin-bottom: 15px;
}

footer p {
  color: #fdfdfd;
  margin: 10px 0;
}

footer a {
  color: #fdfdfd;
}

footer a:hover {
  color: #fdfdfd;
}

/* МОБИЛЬНЫЕ СТИЛИ */
@media screen and (max-width: 800px) {
  header .logo {
    width: 10%;
  }

  header .right-elem {
    display: none;
  }

  .burger-checkbox, .menu-item, .menu-list, .burger, .menu {
    display: block;
  }

  .burger-checkbox {
    position: absolute;
    right: 10px;
    visibility: hidden;
  }

  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }

  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #06192c;
  }

  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #06192c;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }

  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }

  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 #06192c00;
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }

  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }

  .menu-list {
    z-index: 999;
    top: 100px;
    right: 20px;
    position: absolute;
    display: grid;
    gap: 0;
    padding: 12px 0;
    margin-top: 1.7%;
    border-radius: 10px;
    background: #33485f;
    list-style-type: none;
    transform: translateX(100%);
    transition: .7s;
    width: 70vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    display: none;
  }

  .menu-item {
    margin: 40px;
    display: block;
    padding: 10px;
    color: #06192c;
    background-color: #fdfdfd;
    border-radius: 60px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }

  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }

  .burger-checkbox:checked ~ .menu-list {
    display: flex;
    transform: translateX(0);
  }
}
