/* ================================ */
/* МОБИЛЬНЫЕ СТИЛИ (до 800px) */
/* ================================ */

@media screen and (max-width: 800px) {

header .logo {
  width: 23%;
  height: 23%;
  padding-top: 5%;
  align-self: center;
}

header .name {
  flex-direction: column;
  display: flex;
  align-items: last baseline;
  column-gap: 0px;
  width: auto;
}

header .name h1 {
  align-self: flex-start;
  font-size:180%;
  font-weight: normal;
  margin-left: -15%;
  margin-top: 7%;
}

header .name p {
  font-size: 100%;
  margin-top: -5%;
  padding-right: 30%;

}



  
  /* ================================ */
  /* ШАПКА: скрываем десктопное меню */
  /* ================================ */
  
  header .right-elem {
    display: none;
  }
  /* ================================ */
  /* КОНТЕНТ: адаптация под мобильные */
  /* ================================ */
  
  section,
  article {
    background: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    flex-grow: 1;
  }

  nav {
    width: 40%;
  }
}